In [1]:
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [2]:
housing = datasets.fetch_california_housing()
print(housing)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [3]:
df = pd.DataFrame(housing.data, columns=housing.feature_names)
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [4]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [5]:
df_target = pd.DataFrame(housing.target, columns=housing.target_names)
df_target

       MedHouseVal
0            4.526
1            3.585
2            3.521
3            3.413
4            3.422
...            ...
20635        0.781
20636        0.771
20637        0.923
20638        0.847
20639        0.894

[20640 rows x 1 columns]

In [6]:
x = df
y = df_target

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [7]:
x_train

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
9950,4.5694,28.0,6.219512,1.030488,504.0,3.073171,38.38,-122.33
3547,5.6392,18.0,5.951644,1.034816,3010.0,2.911025,34.26,-118.60
4448,1.7292,47.0,3.628032,1.032345,1452.0,3.913747,34.07,-118.21
6984,4.6226,36.0,5.126238,0.985149,988.0,2.445545,33.96,-118.02
4432,2.4375,49.0,4.024390,0.942073,1405.0,4.283537,34.08,-118.20
...,...,...,...,...,...,...,...,...
7763,3.6389,36.0,5.584615,1.115385,490.0,3.769231,33.91,-118.10
15377,4.5391,14.0,6.016688,1.017972,2436.0,3.127086,33.37,-117.24
17730,5.6306,5.0,5.958393,1.031564,2435.0,3.493544,37.33,-121.76
15725,3.8750,44.0,4.739264,1.024540,561.0,1.720859,37.78,-122.44
19966,2.5156,20.0,5.491379,1.117816,1241.0,3.566092,36.21,-119.08

In [8]:
y_train

       MedHouseVal
9950         2.875
3547         2.715
4448         1.917
6984         2.197
4432         1.140
...            ...
7763         1.676
15377        1.809
17730        2.862
15725        4.125
19966        0.593

[16512 rows x 1 columns]

In [9]:
scaler = StandardScaler()
x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.fit_transform(x_test)

In [10]:
x_train_scaler

array([[ 3.67714244e-01, -4.53761462e-02,  3.16164288e-01, ...,
         7.95197399e-04,  1.28942183e+00, -1.38119534e+00],
       [ 9.30744845e-01, -8.40168684e-01,  2.09903463e-01, ...,
        -1.44664485e-02, -6.40792431e-01,  4.83377271e-01],
       [-1.12706938e+00,  1.46472968e+00, -7.11852087e-01, ...,
         7.99128099e-02, -7.29807166e-01,  6.78332584e-01],
       ...,
       [ 9.26218707e-01, -1.87339898e+00,  2.12580734e-01, ...,
         4.03620114e-02,  7.97498292e-01, -1.09626065e+00],
       [ 2.25485873e-03,  1.22629191e+00, -2.71036722e-01, ...,
        -1.26488590e-01,  1.00832267e+00, -1.43618273e+00],
       [-7.13190832e-01, -6.81210176e-01,  2.73206265e-02, ...,
         4.71904727e-02,  2.72779852e-01,  2.43432270e-01]])

In [11]:
reg = LinearRegression().fit(x_train_scaler, y_train)
reg

LinearRegression()

In [12]:
result = reg.predict(x_test_scaler)
result

array([[2.36963052],
       [1.42164175],
       [2.03935223],
       ...,
       [0.97891953],
       [1.75012751],
       [3.15660826]])

In [13]:
score_r2 = reg.score(x_test_scaler, y_test)
print(f"RÂ² Score do modelo: {score_r2}")

RÂ² Score do modelo: 0.6113273240072044

In [14]:
new_housing = [
  [8.3252, 41.0, 6.9841, 1.02381, 322.0, 2.5556, 37.88, -122.23],
  [7.2574, 38.0, 5.1234, 1.23456, 300.0, 2.3456, 35.65, -120.15]
]

new_housing_scaler = scaler.transform(new_housing)
new_housing_predict = reg.predict(new_housing_scaler)

print(f"PrevisÃ£o de preÃ§o para a Casa 1: {new_housing_predict[0]}")
print(f"PrevisÃ£o de preÃ§o para a Casa 2: {new_housing_predict[1]}")

PrevisÃ£o de preÃ§o para a Casa 1: [4.09987522]
PrevisÃ£o de preÃ§o para a Casa 2: [4.04671692]

C:\Users\emanu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(