In [19]:
import pandas as pd

In [20]:
student = {"name": ["Emanuel", "Ana", "Joice", "César"],
           "age": [30, 25, 28, 41]}

In [21]:
frame = pd.DataFrame(student, columns=["age", "name"])

In [22]:
print(frame.head(3))

   age     name
0   30  Emanuel
1   25      Ana
2   28    Joice

In [23]:
print(frame.values)
print(frame.dtypes)
print(frame.describe())

[[30 'Emanuel']
 [25 'Ana']
 [28 'Joice']
 [41 'César']]
age      int64
name    object
dtype: object
            age
count   4.00000
mean   31.00000
std     6.97615
min    25.00000
25%    27.25000
50%    29.00000
75%    32.75000
max    41.00000

In [24]:
print(frame.columns)
print(frame["name"])
print(frame[["name", "age"]])
print(frame.filter(items=[1, 2], axis=0))
print(frame[1:3])
print(frame[frame["age"] > 29])

Index(['age', 'name'], dtype='object')
0    Emanuel
1        Ana
2      Joice
3      César
Name: name, dtype: object
      name  age
0  Emanuel   30
1      Ana   25
2    Joice   28
3    César   41
   age   name
1   25    Ana
2   28  Joice
   age   name
1   25    Ana
2   28  Joice
   age     name
0   30  Emanuel
3   41    César